.MuiTextField-root {
    width: 100%;
}


li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  li span {
    flex-grow: 1;
  }
  
  .submit-button {
    margin-left: 20px;
  }